
@model IEnumerable<web_app_Museo.Models.Prodotto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Prodotti</h1>

<p>
    <a asp-action="Crea">Crea un nuovo prodotto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrizione
            </th>
            <th>
                Quantità
            </th>
            <th>
                Prezzo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantitaDisponibile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                <a asp-action="Rifornimento" asp-route-id="@item.Id">Rifornimento</a> |
                <a asp-action="Modifica" asp-route-id="@item.Id">Modifica</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BottoneModifica">
                  Elimina
                </button>

            </td>
        </tr>



        <!-- Modal -->
        <div class="modal fade" id="BottoneModifica" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modifica @item.Nome  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                  
               <!-- form -->
	          </div>
            </div>
          </div>
        </div>
}
    </tbody>
</table>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BottoneModifica">
  Modifica
</button>
