
@model List<QuantitaDisponibile>

@{
    Layout = "_LayoutAdmin";
}

<section class="sfondoRosa">
<div class="container">
    <div class="row justify-content-center">
       <div class="col-4 text-center">
          <p>
           <a asp-controller="Admin"  asp-action="Crea"> <button type="button"  class="btn sfondoRosaBottone btn-block mb-5 shadow-lg">Crea Prodotto</button></a>
          </p>
        </div>  
    </div>
</div>



            <table class="table"id="unseen">
                <thead>
                <tr>
                <th >Immagine</th>
                <th >Nome</th>
                <th >Prezzo Cliente</th>
                <th >Quantità</th>
                <th class="text-center">CRUD</th>
                </tr>
                </thead>

                <tbody>

            @foreach (var item in Model) {
    
                         
                        <tr>
                        <td data-label="Immagine">
                        
                            <img style="max-height: 3em; width: auto;" src="@item.Immagine">
                        </td>
                        <td data-label="Nome">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td data-label="Prezzo Cliente" class="numeric">
                            @Html.DisplayFor(modelItem => item.Prezzo)
                        </td>
                        @if (item.QuantitaTotale <= 0)
                          {
                            <td class="text-danger" data-label="Quantità" class="numeric">
                            @Html.DisplayFor(modelItem => item.QuantitaTotale)
                            </td>                    
                          }
                        else if (item.QuantitaTotale > 0 && item.QuantitaTotale <= 10)
                          {
                            <td class="text-warning" data-label="Quantità" class="numeric">
                            @Html.DisplayFor(modelItem => item.QuantitaTotale)
                            </td>  
                          }
                        else
                          {
                            <td data-label="Quantità" class="numeric">
                            @Html.DisplayFor(modelItem => item.QuantitaTotale)
                            </td>  
                          }
                        
                          <td data-label="CRUD" class="text-center">
                          <ul class="wrapper">
                                    <a asp-action="Rifornimento" asp-route-id="@item.Id">
                                      <li class="icon facebook ">
                                        <span class="tooltip">Rifornimento</span>
                                        <span><img src="/img/bag-plus.svg" width="26" height="29"/></span>
                                      </li>
                                     </a>
                                     <a asp-action="Modifica" asp-route-id="@item.Id">
                                      <li class="icon facebook" >
                                        <span class="tooltip">Modifica</span>
                                        <span ><img src="/img/pencil-square.svg" width="20" height="20"/></span>
                                      </li>
                                      </a>
                                      <li class="icon facebook" data-bs-toggle="modal" data-bs-target="#BottoneElimina">
                                        <span class="tooltip">Elimina</span>
                                        <span > <img src="/img/trash3-fill.svg" width="20" height="20"/></span>
                                      </li>
                         </ul>
                         </td>              

                    </tr>


                    <!-- Modal -->
                    <form action="@Url.Action("Elimina", "Admin", new {id= item.Id})" method="post">
                        @Html.AntiForgeryToken()
                    <div class="modal fade" id="BottoneElimina" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Elimina @item.Nome  </h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <br>
                                    <p>Sei sicuro di voler eliminare @item.Nome ?</p>
                                  <br>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                  <button type="submit" class="btn btn-danger">Elimina</button>
                               </div>
                           <!-- form -->
	                      </div>
                        </div>
                      </div>
                    </div>
                    </form>
            } 
                </tbody>
            </table>

</section>


