
@model List<QuantitaDisponibile>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_LayoutAdmin";
}

<section class="sfondoRosa">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
          <h5>Cerca Prodotto</h5>
        </div>
        <div class="col-4">
          <p>
            <a asp-action="Crea">Crea Prodotto</a>
          </p>
        </div>
    </div>      
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover d-md-table-cell">
                <thead>
                <tr>
                <th scope="col">Immagine</th>
                <th scope="col">Codice</th>
                <th scope="col">Nome</th>
                <th scope="col">Prezzo Cliente</th>
                <th scope="col">Quantità</th>
                <th scope="col">CRUD</th>
                </tr>
                </thead>

                <tbody>

            @foreach (var item in Model) {
    
                         
                        <tr>
                        <th scope="row">
                            <img style="max-height: 3em; width: auto;" src="@item.Immagine">
                        </th>
                        <td>
                            Codice
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            Prezzo
                        </td>
                        @if (item.QuantitaTotale <= 0)
                          {
                            <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.QuantitaTotale)
                            </td>                    
                          }
                        else if (item.QuantitaTotale > 0 && item.QuantitaTotale <= 10)
                          {
                            <td class="text-warning">
                            @Html.DisplayFor(modelItem => item.QuantitaTotale)
                            </td>  
                          }
                        else
                          {
                            <td>
                            @Html.DisplayFor(modelItem => item.QuantitaTotale)
                            </td>  
                          }
                        
                        <td>
                            <a asp-action="Rifornimento" asp-route-id="@item.Id">Rifornimento</a> |
                            <a asp-action="Modifica" asp-route-id="@item.Id">Modifica</a>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BottoneElimina">
                              Elimina
                            </button>

                        </td>
            
                    </tr>


                    <!-- Modal -->
                    <form action="@Url.Action("Elimina", "Admin", new {id= item.Id})" method="post">
                        @Html.AntiForgeryToken()
                    <div class="modal fade" id="BottoneElimina" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Elimina @item.Nome  </h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <br>
                                    <p>Sei sicuro di voler elimniare @item.Nome ?</p>
                                  <br>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                  <button type="submit" class="btn btn-danger">Elimina</button>
                               </div>
                           <!-- form -->
	                      </div>
                        </div>
                      </div>
                    </div>
                    </form>
            } 

                </tbody>
            </table>
        </div>
    </div>
</div>




<nav aria-label="Standard pagination example">
    <ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    </ul>
</nav>

</section>