@model dynamic

@{
    ViewBag.Title = "Rifornimento";
}
@{
    Layout = "_LayoutAdminRifornimento";
}


<div class="container-fluid sfondoVerde">
    <h1 class="col-12 text-center titolo p-3">Rifornimento</h1>
	<hr />

               <form method="post" action="@Url.Action("Rifornimento", "Admin")" class="row">
	            @Html.AntiForgeryToken()	        
		        <div class="mb-3 col-md-6 col-12">
		            <label for="input-fornitore"  class="control-label">Nome Fornitore:</label>
		            <input type="text" name="nomeFornitore"  id="FormModifica"> 
	            </div>
                <div class="mb-3 col-md-6 col-12">
		            <label for="input-quantita" class="control-label">Quantita da rifornire:</label>
		            <input type="number" name="quantitaDaAggiungere" id="FormModifica">  
	            </div>                  
                <div class=" col-12 text-center">
                    <a class="btn btn-secondary"asp-controller="Admin" asp-action="Index">Annulla</a>
                    <button type="submit" class="btn sfondoVerdeBottone shadow-lg">Conferma rifornimento</button>
                </div>
	           </form> 
</div>


@foreach(var rifornimento in Model.Rifornimenti){
    <h1>@rifornimento.DataRifornimento</h1>
}

<!--
<div class="container">
	<div class="row">
		 <form method="post" action="@Url.Action("Rifornimento", "Admin")">
	 @Html.AntiForgeryToken()

	 <div class="mb-3">
		 <strong>La quantità dint è di </strong>
		<strong>Inserisci qui il numero di unità per il rifornimento:</strong>
		<input asp-for="QuantitaDisponibile" class="d-block w-100" />
		<span asp-validation-for="QuantitaDisponibile" class="text-danger"></span>
	</div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-primary btn-info">Rifornisci</button>
      </div>
	 </form>

	</div>
</div>
-->


