@model dynamic
@{
    ViewBag.Title = "Rifornimento";
}

<h1>Stato Magazzino</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                QuantitaTotale
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prodotti) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Nome
            </td>
        </tr>
        
}

    </tbody>
</table>


@foreach (var item in Model.QuantitaDisponibili) {
        <h1>@item.Id</h1>
        <h1>@item.QuantitaTotale</h1>
        
}


<!--
<div class="container">
	<div class="row">
		 <form method="post" action="@Url.Action("Rifornimento", "Admin")">
	 @Html.AntiForgeryToken()

	 <div class="mb-3">
		 <strong>La quantità dint è di </strong>
		<strong>Inserisci qui il numero di unità per il rifornimento:</strong>
		<input asp-for="QuantitaDisponibile" class="d-block w-100" />
		<span asp-validation-for="QuantitaDisponibile" class="text-danger"></span>
	</div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-primary btn-info">Rifornisci</button>
      </div>
	 </form>

	</div>
</div>
-->